meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Estructura del brief
meta(meta name="description" content="El brief es un documento que suministra informaci칩n de la empresa, el producto o servicio que se va a promocionar o para el que se realizar치n estrategias de comunicaci칩n. Este documento es de estricto manejo entre la empresa y la agencia o del profesional de la publicidad, y es altamente confidencial entre ambas partes para garantizar un manejo id칩neo de los datos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")