h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 260101051-04]. Planificar campaña publicitaria con base en requerimientos de la organización.
