.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Brief: 
            | documento diagnóstico y estratégico que realizan las empresas, con el fin de llevar a cabo procesos de comunicación y promoción.
        hr

        p
            strong.mr-2 Estrategia de mercadeo:
            | Conjunto de tácticas que se estructuran con base en los elementos de la mezcla del mercadeo, con el propósito de desarrollar el programa correspondiente. 
        hr

        p
            strong.mr-2 Marketing:
            | disciplina que estudia las conductas y necesidades de los miembros de un mercado y su entorno, con el fin de generar productos o servicios que los satisfagan y obtener utilidades con su comercialización.

        hr

        p
            strong.mr-2 Mercado: 
            | conjunto de variables y factores que afectan de forma positiva o negativa el proceso de producción, comercialización y promoción de los productos o servicios de las empresas.

        hr

        p
            strong.mr-2 Mercado meta:
            | conjunto de miembros del mercado que tienen como característica principal el tener necesidades, gustos y conductas aptas para adquirir un producto o servicio.

        hr

        p
            strong.mr-2 Nicho de mercado:
            | es un grupo reducido de personas, empresas u organizaciones, con necesidades y/o deseos específicos, también puede estar conformado por una pequeña zona geográfica o un grupo de empresas.
          


        hr

        p
            strong.mr-2 Posicionamiento:
            | es el lugar que ocupa un producto en la mente de los consumidores. También es la percepción que tienen los consumidores o usuarios de un producto o servicio.

 



        hr

        p
            strong.mr-2 Segmentación de mercado: 
            | división que se hace del mercado, para formar grupos específicos con características demográficas y psicográficas similares.