.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p Las siguientes definiciones son extraídas del Pequeño diccionario del Diseñador publicado por Reimers Design (s.f.), bajo licencia Creative Commons:∫
        p
            strong.mr-2 #[i Briefing]: 
            | conjunto de datos sobre la empresa, sus objetivos y estrategia; que sirven de base al consultor o diseñador para plantear la comunicación corporativa. Término inglés que engloba las instrucciones que el cliente da a su proveedor para que de acuerdo con ellas desarrolle la campaña de #[i Marketing] Directo desde la idea global hasta el envío del #[i mailing].
        hr

        p
            strong.mr-2 Canal:
            | en teoría de la comunicación, camino técnico o fisiológico que recorre un mensaje desde el emisor hasta el receptor. 
        hr

        p
            strong.mr-2 Comunicación:
            | es hacer común un significado a una comunidad, con el fin de que toda ella pueda comulgar en la comprensión de este. Proceso por el cual una fuente emisora influye sobre un sistema receptor a través de la manipulación de signos (creatividad, combinatoria, codificación), configurando mensajes y circulándolos por medio de determinados canales físicos.

        hr

        p
            strong.mr-2 Creatividad: 
            | actividad creadora o capacidad imaginativa de hallar soluciones nuevas o ideas originales. La creatividad es la aptitud del ser humano para la combinatoria, es decir, la combinación de formas y mensajes nuevos a partir de combinaciones originales de signos.

        hr

        p
            strong.mr-2 #[i Marketing]:
            | técnicas que persiguen la selección de mercados objetivos, la identificación y cuantificación de las necesidades de esos mercados, el desarrollo de productos y servicios que satisfagan estas necesidades. 

        hr

        p
            strong.mr-2 Posicionamiento:
            | situación de una marca en el mercado, respecto a sus competidores. 
          
        hr

        p
            strong.mr-2 Publicidad:
            | proceso y acción de comunicación que se difunde a través de los medios de comunicación colectiva, siendo el término genérico de anuncio su contenido específico. La publicidad pretende dar a conocer un producto, una idea, un servicio o una imagen sobre el público consumidor para influir en su compra y aceptación. 


        hr

        p
            strong.mr-2 RR.PP / Relaciones Públicas: 
            | acciones de comunicación destinadas a la creación y el mantenimiento de una imagen positiva de las empresas o instituciones ante grupos específicos: prensa, clientes. 