.container

    .header-ecored
        h1 3.	Recolección de información


    .box-intro-tema(style="background: url('assets/images/pages/tema-3/tema-3.png') no-repeat top left").mb-5
        .row.justify-content-end.align-items-center
            .col-12.col-md-5
                .py-6.pr-4

                    br.d-none.d-sm-block

                    br.d-none.d-sm-block

                    br.d-none.d-sm-block

                    p.text-white.mt-4 Teniendo claras las variables internas y externas pertinentes a la empresa, es indispensable la recolección de información referente a cada una de ellas, esto con el fin de tener datos para alimentar el brief y tomar decisiones en relación con las estrategias de comunicación y promoción.

                    br.d-none.d-sm-block

                    br.d-none.d-sm-block

                    br.d-none.d-sm-block
                    br.d-none.d-sm-block
                    br.d-none.d-sm-block

    .card

        .card-body.p-5


            h2 3.1 Tipos de investigación

            .embed-responsive.embed-responsive-16by9.my-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HhAMuQUXaDM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 Dentro de cada empresa existen datos e información específica del sector, por este motivo los métodos de recolección dependerán del tipo de investigación a realizar:

            p.mt-4 #[strong.text-color-4 Exploratoria:] es utilizada para recolectar datos de temas de los que no hay muchos disponibles, es una investigación más informal por ser una primera toma de información.

            p.mt-4 #[strong.text-color-4 Descriptiva:] trata un tema especial en un momento determinado o en un lapso específico; como su nombre lo indica, describe aspectos en relación con variables del mercado.

            p.mt-4 #[strong.text-color-4 Causal:] es una investigación experimental, analiza causas específicas de un caso en particular; por ejemplo, las razones del bajo nivel en ventas de un producto.

            p.mt-4 Dependiendo del tipo de investigación, el encargado del desarrollo del brief, ya sea el responsable del marketing en la empresa, la agencia de publicidad o el freelance debe determinar las fuentes de información.


    .card

        .card-body.p-5


            h2 3.2 Fuentes de información

            .embed-responsive.embed-responsive-16by9.my-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/FDi2VkvRdZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 Si bien los datos están a la orden del día gracias a los medios de comunicación digital, es necesario recurrir a diferentes fuentes para obtener la mejor y mayor información posible para minimizar el riesgo en la toma de decisiones y el planteamiento de las estrategias.

            p.mt-4 #[strong.text-color-4 Fuentes secundarias:] estas fuentes contienen datos e información que ya ha sido recopilada y generada anteriormente con otros fines; por ejemplo, investigaciones o proyectos anteriores.

            p.mt-4 Las fuentes secundarias pueden ser internas; es decir, los datos que se encuentran en la misma empresa en las diferentes dependencias: contabilidad, administración, mercadeo, ventas, etc. También pueden ser externas, información que se puede obtener de fuentes ajenas a la entidad, por ejemplo: bases de datos, agremiaciones, instituciones del Estado, publicaciones, sitios en internet, libros, revistas, entre otros.

            p.mt-4 #[strong.text-color-4 Fuentes primarias:] son fuentes que generan información directa que no se encuentra en otras investigaciones y dan cumplimiento a objetivos puntuales de la búsqueda; también las hay internas, las cuales son obtenidas del personal de la empresa a través de la indagación y externas, es decir, todos aquellos actores del mercado: competidores, proveedores, consumidores, distribuidores, etc


            .embed-responsive.embed-responsive-16by9.my-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/c47SPcLtlCw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                                                        
            p.mt-4 De acuerdo con el tipo de información que se necesite recolectar, la investigación puede ser:

            p.mt-4 #[strong.text-color-4 Cuantitativa:] es la que se desarrolla en torno al ¿qué?, ¿quién?, ¿dónde? y ¿cómo? Esto hace que la investigación cuantitativa se asocie a los tipos descriptivo y causal.

            p.mt-4 Para ello, es necesario hacer énfasis en la descripción de momentos específicos, lo más usual en estos casos es el desarrollo de encuestas y observación.

            p.mt-4 #[strong.text-color-4 Cualitativa:] tiene un enfoque en el ¿por qué? y por lo tanto se asocia a la investigación tipo exploratoria.

            p.mt-4 La investigación cualitativa se centra en los individuos, en sus motivaciones y comportamientos, generando información profunda que debe ser analizada con detalle.

            p.mt-4 Con la investigación cualitativa se pueden abordar problemáticas tales como:

            ul.bg-color-dark
                li.my-4
                    span #[strong Diagnóstico:]

                    ul.bg-color-light.mt-3
                        li
                            span Estudio de la imagen de un producto o empresa
                        li
                            span Estudio de percepción publicitaria
                        li
                            span Estudio de satisfacción del cliente.

                li.my-4 
                    span #[strong Prospección:]
                    ul.bg-color-light.mt-3
                        li
                            span Búsqueda de concepto de producto
                        li
                            span Búsqueda de conceptos de comunicación
                        li
                            span Análisis de extensión de marca o línea.

                li.my-4
                    span #[strong Evaluación:]
                    ul.bg-color-light.mt-3
                        li
                            span Test de concepto de nombre
                        li
                            span Test de producto o envase
                        li
                            span Pre y pos-test.

    .card

        .card-body.p-5


            h2 3.3 Técnicas de recolección de información

            .embed-responsive.embed-responsive-16by9.my-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/rAqeHpglhc0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 La investigación cualitativa recoge información que tiene como base aspectos psicológicos, sociológicos y antropológicos; de ahí que las técnicas de recolección de datos se enfoquen en el ser y en el análisis en profundidad del mismo. Para obtener datos cualitativos se utilizan los siguientes métodos:

            p.mt-4 #[strong.text-color-4 Entrevista en profundidad:] es una técnica que consiste en una entrevista personal entre investigador y la fuente primaria de información; tiene como requisito fundamental el desarrollo con la ayuda de una guía que se realiza en un tiempo estimado de media a una hora, el objetivo es obtener la mayor cantidad de datos posibles. 

            p.mt-4 Esta técnica se utiliza para: obtener información sobre creencias, motivaciones o actitudes frente a determinado tema, para indagar sobre temas personales que no se hablarían en sesiones de grupo o para inquirir sobre temas profesionales con expertos. Estas entrevistas deben ser grabadas y transcritas completamente para su estudio.

            p.mt-4 #[strong.text-color-4 #[i Focus group:]] también llamados grupos focales o sesiones de grupo. Es tal vez la técnica más utilizada en la publicidad y consiste en realizar entrevistas grupales en sesiones que reúnen de diez a doce personas. 

            p.mt-4 Esta técnica permite obtener una cantidad considerable de información muy valiosa para la toma de decisiones en el desarrollo de estrategias de mercadeo y comunicación. Es muy importante contar con un guion bien estructurado que permita aplicar varias técnicas de recolección de datos, como mapas mentales, descripción de dibujos, juegos de palabras, entre otros. 

            p.mt-4 Con el #[i focus group] se pueden hacer estudios acerca de: actitudes, obstáculos y hábitos frente a la compra y el consumo, ideas para nuevos productos, análisis del posicionamiento de un producto, pre y pos-test de campaña.

            p.mt-4 Para el desarrollo del #[i focus group] es necesario tener en cuenta:

            ul.bg-color-dark.mt-4
                li.my-4
                    span Reunir personas que estén dentro del grupo objetivo.
                li.my-4
                    span Preparar muy bien el guion para el desarrollo de la sesión.
                li.my-4
                    span Adecuar un espacio con una mesa y sillas cómodas.
                li.my-4
                    span No advertir a los entrevistados del tema que se va a tratar.
                li.my-4
                    span La duración debe ser entre una y dos horas.
                li.my-4
                    span La sesión debe ser grabada para su análisis posterior.

            p.mt-4 #[strong.text-color-4 Técnicas proyectivas:] estas técnicas son más personales y enfocan al entrevistado hacía la posición de terceras personas; es decir, se pone al investigado en la perspectiva de otros para que se exprese libremente y sin tabúes:

            ul.bg-color-dark.mt-4
                li.my-4
                    span #[strong Técnica de asociación:] el investigado relaciona unas palabras con otras, esto permite conocer su percepción acerca de determinado producto o beneficio.

                li.my-4
                    span #[strong Técnicas de complementación:] consiste en que el investigado completa una frase o una historia que permite conocer sus posiciones frente a determinadas situaciones.

                li.my-4
                    span #[strong Técnicas de construcción:] con esta técnica el investigado realiza dibujos, esculturas, esquemas, entre otros elementos que permiten una posterior interpretación.

                li.my-4
                    span #[strong Técnicas de expresión:] en esta técnica el investigado se expresa a través de un rol específico en una situación planteada, para luego realizar el respectivo análisis.


            .embed-responsive.embed-responsive-16by9.my-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/IXkSw8ASkWU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 Estas técnicas son muy eficaces en el desarrollo de conceptos creativos para campañas publicitarias que se basan en insights de consumidor.

            p.mt-4 #[strong.text-color-4 Técnicas creativas:] estas técnicas explotan al máximo el potencial creativo y permiten el desarrollo de nuevas ideas o la generación de soluciones novedosas y eficaces a problemas o situaciones no comunes. Se deben desarrollar en espacios amplios y con tiempos que van de varias horas hasta todo un día, se requieren alternar con técnicas de relajación y juegos:

            ul.bg-color-dark.mt-4
                li.my-4
                    span #[strong Brainstorming:] consiste en generar ideas durante un tiempo prolongado y en torno a un tema central. Al inicio no se debe rechazar ninguna, todas requieren ser apuntadas para luego seleccionar las más convenientes y entre todos hacer un desarrollo óptimo de la de idea.

                li.my-4
                    span #[strong Cuento de hadas:] consiste en comenzar una historia conocida, uno de los cuentos clásicos y pedir a los participantes que la adecuen cambiando elementos o situaciones para adaptarlas a determinado producto o servicio.

                li.my-4
                    span #[strong Observación:] consiste en observar el comportamiento de uno o varios individuos, con o sin el consentimiento de ellos. Esta técnica es útil para el análisis del comportamiento en el uso o consumo de un producto, en el acto de compra o en el acceso a un servicio. 

            p.mt-4 Es también una técnica cuantitativa, ya que puede arrojar datos descriptivos con base en objetivos concretos y con metodologías estructuradas de datos específicos con muestreos definidos. Sin embargo, su uso cualitativo es muy importante y eficaz debido a que se puede hacer libremente y generar datos informales que den resultados inesperados. Hoy en día, se puede hacer observación directa de la percepción del comprador y del espectador de anuncios publicitarios a través del Eyetracking, un sistema que graba lo que el investigado ve al mismo tiempo que analiza el movimiento y comportamiento de sus ojos, esto permite conocer las zonas, elementos y características que la persona ve con mayor énfasis en una góndola o un aviso publicitario.

            ul.bg-color-dark.mt-4
                li.my-4
                    span #[strong Cliente incógnito:] esta técnica permite realizar observación sobre el personal que tiene contacto directo con los clientes y compradores. El investigador debe comportarse como un cliente real y simular una compra o el uso de un servicio, este debe observar basado en unos criterios preestablecidos el comportamiento del personal de la empresa; también con las tecnologías actuales es posible realizar grabación del evento sin que el investigado se entere. 

            p.mt-4 Esta técnica se utiliza para mejorar la calidad del servicio, motivar a los empleados, evaluar desempeños, reducir incidentes y quejas, evaluar campañas y promociones realizadas en un punto de venta.


            .embed-responsive.embed-responsive-16by9.my-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/b_VTeeBTgtw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 #[strong.text-color-4 Técnicas online:] con la llegada del internet y las tecnologías de comunicación digital, es muy posible realizar investigaciones online con la misma efectividad e incluso con mayores resultados por contar con un muestreo mucho más amplio y diverso:

            ul.bg-color-dark.mt-4
                li.my-4
                    span #[strong Sesiones de grupo online:] tiene el mismo concepto de la sesión de grupo presencial, con la variante que se puede realizar con personas que estén en cualquier lugar del mundo y permite la grabación en varios formatos.

                li.my-4
                    span #[strong Encuestas:] es una técnica muy conocida, pero al mismo tiempo eficiente; permite realizar formularios que se pueden entregar a través de un enlace a un número indeterminado de personas que hagan parte del grupo objetivo, con la posibilidad de responder en el momento que el investigado prefiera y tenga disponibilidad de tiempo. La información es almacenada en forma de base de datos y genera análisis estadísticos inmediatos, gracias a los cálculos matemáticos generados por computadoras.

            .jumbotron.mt-4
                p El uso de las diferentes técnicas de recolección de datos depende del tipo de información que se requiera y de la calidad de la misma para la toma de decisiones y el desarrollo de estrategias efectivas de comercialización, promoción o posicionamiento.
